[submodule "core"]
  path = core
  url = https://github.com/archoleat/core.git
[submodule "browtest"]
  path = browtest
  url = https://github.com/archoleat/browtest.git
[submodule ".vscode"]
  path = .vscode
  url = https://github.com/archoleat/.vscode.git
[submodule ".husky"]
  path = .husky
  url = https://github.com/archoleat/.husky.git
