@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.breadcrumb {
  &__list {
    display: flex;

    overflow-block: hidden;
    overflow-inline: auto;

    overscroll-behavior-inline: none;

    scrollbar-gutter: stable;

    li {
      $font-size: 18;

      display: flex;

      flex-wrap: nowrap;

      white-space: nowrap;

      &:not(:last-child) {
        &::after {
          content: "→";

          margin-inline: to-em(5, $font-size);
        }
      }

      [aria-current="page"] {
        color: var(--color-gray, #{$color-gray});
      }
    }
  }
}
