@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

[role="marquee"] {
  display: grid;
  padding-block: to-rem(10);
  background-color: var(--color-accent, #{$color-accent});
  color: var(--color-primary, #{$color-primary});
}
