@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

[role="marquee"] {
  display: grid;

  padding-block: to-rem(10);

  color: var(--color-primary, #{$color-primary});

  background-color: var(--color-accent, #{$color-accent});
}
