@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    gap: to-rem(5);
  }
}
