@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.popup {
  pointer-events: none;

  opacity: 0;

  position: fixed;
  inset: 0;

  padding-block: to-rem(30);
  padding-inline: to-rem($container-padding-inline);

  &__wrapper {
    display: flex;

    min-block-size: 100%;

    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;
  }

  &__content {
    opacity: 0;

    border-radius: to-rem(20);

    inline-size: max(56.25rem);

    padding: to-rem(20);

    background-color: var(--color-accent, #{$color-accent});

    scale: 0;

    transition:
      opacity var(--transition-duration-default, #{$transition-duration-default}),
      scale var(--transition-duration-default, #{$transition-duration-default});

    .lock & {
      opacity: 1;
    }
  }

  &--show {
    pointer-events: auto;

    opacity: 1;

    z-index: var(--z-index-3, #{$z-index-3});

    overflow-block: auto;

    overscroll-behavior-block: none;

    scrollbar-gutter: stable;

    .popup__content {
      opacity: 1;

      scale: 1;
    }
  }
}
