@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.spoilers {
  display: grid;
  gap: to-rem(15);
}

.spoiler {
  &__trigger {
    position: relative;
    border-radius: to-rem(5);
    border-width: to-rem(1);
    border-style: solid;
    border-color: var(--color-accent, #{$color-accent});
    padding-block: to-rem(10);
    padding-inline: to-rem(15);
    text-align: start;

    .spoiler-init & {
      $rotate: 40deg;
      $degree-y: 75%;
      $degree-x: 50%;

      &::before,
      &::after {
        @include pseudo;

        inset-block-start: 50%;
        inset-inline-end: to-rem(10);
        block-size: to-rem(2);
        inline-size: to-rem(15);
        background-color: var(--color-secondary, #{$color-secondary});
        transition:
          translate
            var(--transition-duration-default, #{$transition-duration-default}),
          rotate var(--transition-duration-default, #{$transition-duration-default});
      }

      &::before {
        translate: -$degree-y -$degree-x;
        rotate: $rotate;
      }

      &::after {
        translate: 0 -$degree-x;
        rotate: -$rotate;
      }

      &.spoiler-active {
        &::before {
          translate: -$degree-y 0;
          rotate: -$rotate;
        }

        &::after {
          rotate: $rotate;
        }
      }

      @media (any-hover: hover) {
        cursor: pointer;
      }
    }
  }

  &__content {
    border-width: to-rem(1);
    border-style: solid;
    border-color: var(--color-accent, #{$color-accent});
    padding: to-rem(20);
  }
}
