.bg-image {
  position: relative;

  overflow: hidden;

  &--contain {
    iframe,
    object,
    video,
    embed,
    img {
      object-fit: contain;
    }
  }

  iframe,
  object,
  video,
  embed,
  img {
    position: absolute;
    inset: 0;
  }
}
