@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

body {
  &::after {
    @include pseudo("", fixed);

    pointer-events: none;

    opacity: 0;

    inset: 0;
    z-index: var(--z-index-2, #{$z-index-2});

    background-color: rgb(var(--color-secondary-rgb, #{$color-secondary-rgb}) / 50%);

    transition: opacity
      var(--default-transition-duration, #{$default-transition-duration});
  }

  .overlay-show & {
    &::after {
      opacity: 1;
    }
  }
}
