@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

.icon {
  $size: 20;

  block-size: to-rem($size);
  inline-size: to-rem($size);
  fill: transparent;
  stroke: var(--color-secondary, #{$color-secondary});
}
