@use "@scss/abstracts" as *;

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  font: inherit;

  @include media-motion(no-preference) {
    &:has(:target) {
      scroll-behavior: smooth;
      scroll-padding-block-start: calc(
        var(--header-min-block-size, #{to-rem($header-min-block-size)})
      );
    }
  }

  @include media-motion(reduce) {
    transition: none;
    animation: none;
  }
}

:focus-visible {
  outline: to-rem(2) solid var(--color-inverse, #{$color-inverse});
  outline-offset: to-rem(2);
}

html {
  color-scheme: dark light;
  hanging-punctuation: first last;
  scrollbar-gutter: stable;
}

body {
  min-inline-size: $min-inline-size + px;
  background-color: var(--background-color-primary, #{$color-primary});
  overscroll-behavior: none;
}

summary {
  // Reset marker on Safari
  &::-webkit-details-marker {
    display: none;
  }
}

ul,
ol {
  list-style-type: none;
}

video,
picture,
img {
  $size: 100%;

  vertical-align: middle;
  shape-margin: to-rem(16);
  block-size: $size;
  inline-size: $size;
  font-style: italic;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: top;
}

input,
svg {
  display: block;
  inline-size: 100%;
}

input {
  border: 0;
  appearance: none;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
}

button,
label {
  @include media-hover {
    cursor: pointer;
  }
}
