@use "@scss/abstracts" as *;

:root {
  // Container
  --container-inline-size: #{to-rem($container-inline-size)};
  --container-padding-inline: #{to-rem($container-padding-inline)};

  // Header
  --header-min-block-size: #{to-rem($header-min-block-size)};

  // Z-index
  --z-index-1: #{$z-index-1};
  --z-index-2: #{$z-index-2};
  --z-index-3: #{$z-index-3};

  // Font families
  --font-system-ui: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-family-roboto: #{$font-family-roboto};
  --font-family-default: var(--font-family-roboto, #{$font-family-default});

  // Font sizes
  --font-size-title: #{to-rem($font-size-title)};
  --font-size-subtitle: #{to-rem($font-size-subtitle)};
  --font-size-text: #{to-rem($font-size-text)};
  --font-size-button: var(--font-size-text, #{to-rem($font-size-text)});
  --font-size-label: #{to-rem($font-size-label)};
  --font-size-default: var(--font-size-text, #{to-rem($font-size-default)});

  // Font weights
  --font-weight-100: #{$font-weight-100};
  --font-weight-200: #{$font-weight-200};
  --font-weight-300: #{$font-weight-300};
  --font-weight-400: #{$font-weight-400};
  --font-weight-500: #{$font-weight-500};
  --font-weight-600: #{$font-weight-600};
  --font-weight-700: #{$font-weight-700};
  --font-weight-800: #{$font-weight-800};
  --font-weight-900: #{$font-weight-900};
  --font-weight-950: #{$font-weight-950};
  --font-weight-default: var(--font-weight-400, #{$font-weight-default});

  // Colors
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
  --color-inverse: #{$color-inverse};
  --color-gray: #{$color-gray};

  // Colors RGB
  --color-primary-rgb: #{$color-primary-rgb};

  // Main colors
  --background-color-primary: var(--color-primary, #{$color-primary});
  --text-color-primary: var(--color-secondary, #{$color-secondary});

  // Transitions
  --transition-duration-default: #{$transition-duration-default};

  // Color for form controls
  accent-color: var(--color-accent, #{$color-accent});
}
