@use "@scss/abstracts" as *;
@use "@scss/utilities/placeholders" as *;

body {
  line-height: 1;

  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;

  font-family: var(--font-family-default, #{$font-family-default});
  font-size: var(--font-size-default, #{to-rem($font-size-default)});
  font-weight: var(--font-weight-default, #{$font-weight-default});

  color: var(--text-color-primary, #{$color-secondary});
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li {
  max-inline-size: var(--p-max-inline-size, #{$p-max-inline-size});

  text-wrap: pretty;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

button,
a {
  color: inherit;
}

.title {
  $font-size: 30;
  $line-height: 22;

  line-height: decimal-round($line-height, $font-size);

  font-size: to-rem($font-size);
}

.text {
  $font-size: 18;

  font-size: to-rem($font-size);

  p {
    &:not(:last-child) {
      margin-block-end: to-em(5, $font-size);
    }
  }
}

.link {
  $font-size: 16;
  $line-height: 20;

  line-height: decimal-round($line-height, $font-size);

  font-size: to-rem($font-size);

  @include media-hover {
    color: var(--color-accent, #{$color-accent});
  }
}
