@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.select {
  min-inline-size: 0;

  &--show-top {
    .select__options {
      $border-bottom-radius: 5;

      inset-block: auto calc(100% - to-rem(1));

      border-width: to-rem(1);
      border-style: solid;
      border-color: #d9d9d9;
      border-end-start-radius: to-rem($border-bottom-radius);
      border-end-end-radius: to-rem($border-bottom-radius);
      border-block-end: 0;

      padding-block: to-rem(5) to-rem(10);
    }
  }

  &__body {
    position: relative;
  }

  &__title {
    border-width: to-rem(1);
    border-style: solid;
    border-color: var(--color-accent, #{$color-accent});
    border-radius: to-rem(5);

    inline-size: 100%;

    text-align: start;

    background-color: var(--color-primary, #{$color-primary});

    transition: border-radius
      var(--transition-duration-default, #{$transition-duration-default});

    .select-open & {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
  }

  &__value {
    display: flex;

    block-size: to-rem(30);

    padding-inline: to-rem(12.5);

    gap: to-rem(10);

    align-items: center;

    &::after {
      content: "";

      display: flex;

      flex: 0 0 to-rem(10);
      flex-wrap: nowrap;

      align-items: center;
      justify-content: center;

      transition: rotate
        var(--transition-duration-default, #{$transition-duration-default});

      .select-open & {
        rotate: -180deg;
      }
    }

    &.select-pseudo-label {
      &::before {
        content: attr(data-pseudo-label);

        opacity: 0.5;
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__text {
    overflow: hidden;

    flex: 1;

    white-space: nowrap;

    text-overflow: ellipsis;
  }

  &__input {
    block-size: 100%;

    background-color: transparent;
  }

  &__options {
    $border-bottom-radius: 5;

    position: absolute;
    inset-block-start: to-rem(30);
    inset-inline-start: 0;
    z-index: var(--z-index-1, #{$z-index-1});

    border-width: to-rem(1);
    border-style: solid;
    border-color: var(--color-accent, #{$color-accent});
    border-end-start-radius: to-rem($border-bottom-radius);
    border-end-end-radius: to-rem($border-bottom-radius);
    border-block-start: 0;

    inline-size: 100%;

    padding: to-rem(5);

    color: var(--color-secondary, #{$color-secondary});

    background-color: var(--color-primary, #{$color-primary});
  }

  &__scroll {
    max-block-size: to-rem(200);

    overflow-block: hidden;
    overflow-inline: auto;

    overscroll-behavior-block: none;

    scrollbar-gutter: stable;
  }

  &__option {
    border-radius: to-rem(5);

    inline-size: 100%;

    padding: to-rem(5) to-rem(7.5);

    text-align: start;

    color: inherit;

    transition:
      background-color
        var(--transition-duration-default, #{$transition-duration-default}),
      color var(--transition-duration-default, #{$transition-duration-default});

    @include media-hover {
      color: var(--color-primary, #{$color-primary});

      background-color: var(--color-accent, #{$color-accent});
    }
  }
}

.select-tag {
  cursor: pointer;
}
