// Container
$container-max-inline-size: 0;
$container-padding-inline: 15;
$container-inline-size: $container-max-inline-size + ($container-padding-inline * 2);

// Widths
$max-inline-size: 1920;
$min-inline-size: 320;

// Breakpoints
$desktop: $container-inline-size;
$laptop: 992;
$tablet: 768;
$phone: 480;

// Z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;

// Header
$header-min-block-size: 64;

// Font families
$font-family-roboto: "Roboto";
$font-family-default: $font-family-roboto;

// Font sizes
$font-size-title: 35;
$font-size-subtitle: 28;
$font-size-text: 16;
$font-size-label: 14;
$font-size-default: $font-size-text;

// Font weights
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;
$font-weight-950: 950;
$font-weight-default: $font-weight-400;

// Colors
$color-primary: #fff;
$color-secondary: #000;
$color-accent: #333;
$color-inverse: #fe0;
$color-gray: #888;

// Colors RGB
$color-primary-rgb: 0 0 0;

// Transitions
$transition-duration-default: 300ms;
