@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.menu {
  &__body {
    @include media-max($tablet) {
      $size: 100%;

      position: fixed;
      inset-block-start: 0;

      block-size: $size;
      inline-size: $size;

      padding-block: to-rem(80) to-rem(30);

      overflow-block: auto;

      overscroll-behavior-block: none;

      scrollbar-gutter: stable;

      background-color: var(--color-primary, #{$color-primary});

      transform: translateX(
        calc(
          -100% - var(--container-padding-inline, #{to-rem($container-padding-inline)})
        )
      );

      transition: transform
        var(--default-transition-duration, #{$default-transition-duration});

      &::before {
        @include pseudo("", fixed);
        @include responsive-value("height", 70, 40, 3, 768, $min-inline-size);

        inset-block-start: 0;

        inline-size: 100%;

        background-color: var(--color-secondary, #{$color-secondary});
      }
    }
  }

  &__list {
    display: flex;

    @include media-min($tablet) {
      gap: to-rem(10) to-rem(20);

      flex-wrap: wrap;
    }

    @include media-max($tablet) {
      row-gap: to-rem(20);

      flex-direction: column;

      align-items: center;
    }
  }
}
