@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

[role="switch"] {
  $size: 30;

  block-size: to-rem($size);
  inline-size: to-rem($size);

  transition: background-color
    var(--default-transition-duration, #{$default-transition-duration});
}
