name: Build & deploy

on:
  workflow_run:
    workflows:
      - Mocha
      - Stylelint
    types:
      - completed
  pull_request:
    branches:
      - main
    paths:
      - src/**/*
  push:
    branches:
      - main
    paths:
      - src/**/*

permissions:
  contents: write

jobs:
  build-and-deploy:
    name: Build & Deploy

    runs-on: ubuntu-latest
    timeout-minutes: 10

    if: ${{ github.repository != 'archoleat/sammler' && github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Set Up NodeJS
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: lts/*

      - name: Install Dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
