name: Mocha

on:
  workflow_run:
    workflows:
      - ESLint
    types:
      - completed
  pull_request:
    branches:
      - main
    paths:
      - specs/**/*.spec.js
      - src/js/**/*.js
  push:
    branches:
      - main
    paths:
      - specs/**/*.spec.js
      - src/js/**/*.js

jobs:
  test:
    name: Test

    runs-on: ubuntu-latest
    timeout-minutes: 10

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Set Up NodeJS
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: lts/*

      - name: Install Dependencies
        run: pnpm i

      - name: Tests
        run: pnpm run test
